<h1>Articles Tagged with <%= @tag.name %></h1>

<u>
  <% @tag.articles.each do |article| %>
  <li><%= link_to article.title, article_path(article)%></li>
  <%end%>
</u>

<%= link_to "Delete Tag", tag_path(@tag), method: :delete %>
